* {
  font-family: 'Rubik', sans-serif;
}
.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 90vw;
  /* background-color: lightsalmon; */
  height: autos;
  font-size: calc(8px + 2vmin);

/*   
  width: 80vw;
  height: auto;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  text-align: center; */
}

/* HEADER / HEADER / HEADER / HEADER / HEADER / HEADER  */
.HeroHeader{
  height: 80vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.HeaderText{
  margin: 0 3rem;
}
.center{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

spam{ color: #FF2834}


.ImageHeader{
  background-color: tomato;
  width: 50%;
  height: 100%;
}

.InfoHeader{
  background-color: whitesmoke;
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.techlogo{
  background-color: lightslategray;
  width: 50%;
  height: 30%;
}

.galogo{
  background-color:lightsteelblue;
  width: 50%;
  height: 30%;
}

.styleimage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageCSS{
  /* position: absolute;
  top: 0;
  left: 0; */
  position: relative;
}

/* BANNER / BANNER / BANNER / BANNER / BANNER / BANNER  */

.Banner {
  background-color: lightyellow;
  width: 100%;
  height: 45vh;
  align-items: center;
  text-align: center;
  /* justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center; */

  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;  */
}

.webdesignflex{
object-fit: contain;
background-image: url();
}

/* CALENDAR / CALENDAR / CALENDAR / CALENDAR / CALENDAR / CALENDAR  */

.Calendar {
  background-color: peru;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
  justify-content: space-evenly;
}

.Information{
  background-color: paleturquoise;
  height: 100%;
  width: 15vw;
  margin-bottom: 20px;
}

.Date{
  background-color: #069CBC;
  box-shadow: 5px 8px #C3C3C3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin-bottom: 1rem;
}

.Text{
  background-color: whitesmoke;
  height: 20vh;
  width: 100%;
  border: solid .5px #C3C3C3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  font-size: calc(3px + 2vmin);
}

.ClassContainer{
  /* background-color: lightslategray; */
  width: 20vw;
}

.InfoBoxes{
  /* background-color: crimson; */
  height: 30vh;
  width: 20%;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */

